<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>225586439737-056s8radpjdor46306uuqhum2c7jf56t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225586439737-056s8radpjdor46306uuqhum2c7jf56t</string>
	<key>API_KEY</key>
	<string>AIzaSyCTRU2HNmaTnDAD7G3i_3hIT3716Xl95lM</string>
	<key>GCM_SENDER_ID</key>
	<string>225586439737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hyoungsun.PTalk</string>
	<key>PROJECT_ID</key>
	<string>ptalk-7bcb7</string>
	<key>STORAGE_BUCKET</key>
	<string>ptalk-7bcb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225586439737:ios:6d9b8ecc377cbb64</string>
	<key>DATABASE_URL</key>
	<string>https://ptalk-7bcb7.firebaseio.com</string>
</dict>
</plist>